/*componente de botões*/

/*Classe btn será a classe inicial*/
.btn {
  --btn-border-radius: .5rem;
  --btn-bg-color: var(--text-color-primary);
  --btn-color: var(--bg-color);

  /*classe inicial retiro borda, cor backgrount*/
  border: 0;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: var(--btn-border-radius);

  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);

  cursor: pointer;

  background: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn:hover {
  /*Gradiente de brand-color-secondary ate brand-color-primary*/
  --btn-bg-color: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
  --btn-color: var(--surface-color);
  -webkit-background-clip: initial;
  background-clip: initial;
  color: var(--btn-color);
}

/*btn small*/
.btn-sm {
  padding: .5rem 1rem;
  font-size: var(--fs-sm);
}

/*btn medium*/
.btn-md {
  padding: .75rem 1.5rem;
  font-size: var(--fs-base);
}

/*btn large*/
.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

/*Estrategia para deixar o texto do botao degrade*/
.btn[aria-label] {
  --btn-inset: 0.09375rem;/*1.5/16 = 0.09375*/

  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: calc(var(--btn-border-radius) - var(--btn-inset));
    inset: var(--btn-inset);
    background-color: var(--bg-color);
  }

  &::after {
    content: attr(aria-label);
    background: var(--btn-bg-color);
    -webkit-background-clip: text;
    /*para somente o etxto ficar degrade, recorta somente o texto para aplicar a cor*/
    background-clip: text;
    color: transparent;
    z-index: 1;
  }
}

@media (width >= 80em) {
  .btn-sm {
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);
  }

  .btn-md {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }
}
