#hero {
  text-align: center;
  /*este seletor src*="music-bars" ira pegar a img que recebe o nome de music-bars e redminssionar *= serve para procurar o nome ou parte do nome  */
  & img[src*="music-bars"] {
    width: 12.875rem;
  }

  & h1 {
    margin-top: 1rem;
  }

  & p {
    font: var(--ff-sans) var(--fs-lg)/1.4 var(--fw-md);
    color: var(--text-color-secondary);
    margin-top: 0.5rem;
  }

  & .buttons {
    justify-content: center;
    margin-top: 2rem;
  }
}

/*Como redimensionei a imagem ali em cima para mobile para desktop tenho que lembrar de redimensionar aqui tambem*/
@media (width >= 80em) {
  #hero {
    /*Definindo a imagem do bg para não repetid; center; contein*/
    background: url(../assets/images/bg-hero-desktop.svg) no-repeat bottom center/contain;

    /*Força um padding maiorzão*/
    padding-bottom: 15rem;

    & img[src*="music-bars"] {
      width: 25.75rem;
    }

    & h1 {
      margin-top: 1.5rem;
    }

    & p {
      margin-top: 1rem;
      font-size: 2.5rem;
    }

    .buttons {
      margin-top: 3rem;
    }
  }
}
