/*Classes utilitarias*/
/*Espaços padroes*/

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}


.container {
  --max-width: 375px;/*olho primeiro para o tamanho do mobile*/
  /*As margins vao ficar auto*/
  margin-inline: auto;

  /*O css vai escolher entre o menor tamanho entre os dois, uma ou outra opção*/
  width: min(var(--max-width), 100% - var(--px-lg) * 2);/*Aquina segunda opção estou subtraindo os espaços laterais*/
  /*dos 100% da tela subtraio px-lg * 2 .. 100% - var(--px-lg) * 2      */
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

/*Nas telas pequenas (width >= 80em) => --max-width: 80em; */
@media (width >= 80em) {
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
