/*Classes utilitarias*/
/*Espaços padroes*/

.py-base {
  /*padding-block define o eixo vertical em cima e baixo*/
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  /*eixo x in line*/
  padding-inline: var(--px-lg);
}


.container {
  --max-width: 375px;/*olho primeiro para o tamanho do mobile*/
  /*As margins vao ficar auto*/
  margin-inline: auto;

  /*O css vai escolher entre o menor tamanho entre os dois, uma ou outra opção*/
  width: min(var(--max-width), 100% - var(--px-lg) * 2);/*Aquina segunda opção estou subtraindo os espaços laterais*/
  /*dos 100% da tela subtraio px-lg * 2 .. 100% - var(--px-lg) * 2      */
}


.desktop-only {
  /*pensando mobile first*/
  /*aqui estou setando o display none para não aparecer e logo abaixo no @media eu volto a tratar o display para desktop, se eu aplicar em uma div ou span essa classe ela não ira aparecer em telas grandes*/
  display: none;
}

/*.even-columns colunas constantes*/
.even-columns {
  /*por padrão será do tipo grid*/
  /*em mobile ficara um abaixo do outro e em tela grande um ao lado do outro*/
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}


/*Não posso usar ponto no nome da classe, para usar como abaixo uso a \ que o css vai entender o ponto como texto ao chamar a classe vou chamar normal gap-1.5 */
.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

/*Nas telas pequenas (width >= 80em) => --max-width: 80em; */
@media (width >= 80em) {
  .container {
    --max-width: 80em;
  }

  .desktop-only {
    display: initial;
  }


  .even-columns {
    /**/
    grid-auto-flow: column;
    /*espaços iguais um ao lado do outro tela grande e um abaixo do outro tela pequena*/
    grid-auto-columns: 1fr;
  }
}
